<br>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Mapa dos Produtos</li>
</ol>

<div class="container pb-4">

<label for="buscaProduto" class="form-label">Pesquise por um nome de produto</label>
  <!-- Campo de Busca -->
  <div class="d-flex mb-4">
    <input
      type="text"
      class="form-control rounded-pill border border-dark me-2"
      placeholder="Digite Algo..."
    />
    <button class="btn btn-outline-dark rounded-pill px-4 btn-search" type="button">
      <i class="bi bi-search"></i>
    </button>
  </div>

</div>

