<br>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Associação &gt; Cadastrar Associação</li>
</ol>

<div class="container pb-4">
  <!-- Formulário de Associação -->
  <form>
    <!-- Estabelecimento -->
    <div class="mb-4">
      <label for="estabelecimento" class="form-label">Estabelecimento</label>
      <select class="form-select rounded-pill px-3 border border-dark" id="estabelecimento">
        <option selected>Quintal do Sabor</option>
        <option>Sabor da Roça</option>
        <option>Feira Candiru</option>
        <option>Mercadinho do Leste</option>
      </select>
    </div>

    <!-- Produto -->
    <div class="mb-5">
      <label for="produto" class="form-label">Produto</label>
      <select class="form-select rounded-pill px-3 border border-dark" id="produto">
        <option selected>Feijão Branco</option>
        <option>Arroz Vermelho</option>
        <option>Farinha de Mandioca</option>
        <option>Castanha do Pará</option>
      </select>
    </div>

    <!-- Botões -->
    <div class="d-flex justify-content-center gap-4">
      <button type="button" class="btn btn-danger px-4 rounded-pill">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success px-4 rounded-pill">
        Confirmar Associação
      </button>
    </div>
  </form>
</div>

