<nav class="navbar navbar-expand-lg navbar-custom px-4">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" routerLink="/home">
        <i class="bi bi-geo-alt"></i>
        MapeiaProduto
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2" *ngIf="!isExterno">
            <a class="nav-link" routerLink="/mapa-produtos">Mapa dos Produtos</a>
          </li>

          <!-- Produto -->
          <li class="nav-item dropdown mx-2" *ngIf="!isExterno">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Produto</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/produtos/form">Cadastrar Produto</a></li>
              <li><a class="dropdown-item" routerLink="/produtos">Visualizar Produtos</a></li>
              <!-- <li *ngIf="isAdmin"><a class="dropdown-item" href="#">Validar Produtos</a></li> -->
            </ul>
          </li>

          <!-- Estabelecimento -->
          <li class="nav-item dropdown mx-2" *ngIf="!isExterno">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Estabelecimento</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/estabelecimentos/form">Cadastrar Estabelecimento</a></li>
              <li><a class="dropdown-item" routerLink="/estabelecimentos">Visualizar Estabelecimentos</a></li>
              <!-- <li *ngIf="isAdmin"><a class="dropdown-item" href="#">Validar Estabelecimentos</a></li> -->
            </ul>
          </li>

          <!-- Associações -->
          <li class="nav-item dropdown mx-2" *ngIf="!isExterno">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Associação</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/associacoes/form">Cadastrar Associação</a></li>
              <li><a class="dropdown-item" routerLink="/associacoes">Visualizar Associações</a></li>
              <!-- <li *ngIf="isAdmin"><a class="dropdown-item" href="#">Validar Associações</a></li> -->
            </ul>
          </li>
          <li class="nav-item mx-2" *ngIf="isExterno">
            <a class="nav-link" routerLink="/login">Voltar para login</a>
          </li>
        </ul>


        <!-- Perfil -->
        <div class="dropdown" *ngIf="!isExterno">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi bi-person fs-4"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end p-3 profile-menu">
            <div class="text-center mb-2">
              <i class="bi bi-person fs-3"></i><br>
              <strong>{{ usuarioLogado }} ({{ permissao }})</strong>
            </div>
            <a class="dropdown-item" routerLink="/usuarios/form/{{ idusuario }}">Alterar Dados Pessoais</a>
            <a *ngIf="isAdmin" class="dropdown-item" routerLink="/usuarios">Gerenciar Usuários</a>
            <a class="dropdown-item text-danger" href="#" (click)="preparaDelecao(idusuario)" data-bs-toggle="modal" data-bs-target="#modalExclusaoConta">Excluir Conta</a>
            <a class="dropdown-item text-danger" (click)="logout()" href="#">Sair</a>
          </div>
        </div>
      </div>
    </div>
</nav>

<div class="modal fade" id="modalExclusaoConta" tabindex="-1" aria-labelledby="modalExclusaoContaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="modalExclusaoContaLabel">Excluir Conta</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" *ngIf="usuarioSelecionado">
        Tem certeza de que deseja <strong>excluir permanentemente</strong> sua conta?
        <br />
        Esta ação não poderá ser desfeita.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="removerFoco()">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deletarUsuario()">
          Confirmar Exclusão
        </button>
      </div>
    </div>
  </div>
</div>
