    .login-body {
      background-color: #e0e0e0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login-container {
      max-width: 400px;
      width: 100%;
      padding: 30px;
      background-color: #f8f9fa;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .form-control {
      border-radius: 30px;
    }
    .btn-custom {
      border-radius: 30px;
      background-color: #4CAF50;
      color: white;
    }
    .btn-custom:hover {
      background-color: #45a049;
      color: rgb(0, 0, 0);
    }
    .logo {
      font-size: 3rem;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 600;
    }